.info{
    background: #070714;
    padding-left: 50px;
    padding-right: 80px;
    position: relative;
       
}
.info img{
    width: 550px;
    height: 380px;
}
.info p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color:#F5F5F5;
    padding-bottom: 10px;
}
p:last-child{
    padding-bottom: 0;
}
.info > div{
    display: flex;
    align-items: center;
}
.info .text img{
    position: absolute;
    width: 148px;
    height: 148px;
    right: 40%;
    bottom: -10px;
}
.info .text{
    position: relative;
}
.vector{
    position: relative;
    right: 120px;
    bottom: 30px;
}
.vector img:nth-child(2){
    position: absolute;
    width: 18px;
    height: 18px;
    left: -5px;
    top: -5px;
}
.vector img:nth-child(1){
    width: 50px;
    height: 50px;
}
.infdiv{
    position: absolute;
    right: 80px;
    bottom: -10px;
} 
.info .vectr{
    position: absolute;
    width: 680px;
    height: 780px;
    right: 100px;
    
}
@media screen and (max-width: 1200px){
    .info img{
        width: 360px;
        height: 200px;
    }
    .info .text{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 990px){
    .info img{
        display: none;
    }
    
}